{% extends 'gestao/base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card bg-primary text-white shadow">
            <div class="card-body">
                <h6 class="text-uppercase small">Faturamento Total</h6>
                <h2 class="mb-0">R$ {{ valor_total|floatformat:2 }}</h2>
                <i class="bi bi-cash-stack position-absolute top-50 end-0 translate-middle-y me-3 opacity-50"
                    style="font-size: 2rem;"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-warning text-dark shadow">
            <div class="card-body">
                <h6 class="text-uppercase small">OS Pendentes</h6>
                <h2 class="mb-0">
                    {% for item in resumo %}
                    {% if item.status == 'P' %}{{ item.total }}{% endif %}
                    {% empty %} 0 {% endfor %}
                </h2>
                <i class="bi bi-clock-history position-absolute top-50 end-0 translate-middle-y me-3 opacity-25"
                    style="font-size: 2rem;"></i>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card bg-success text-white shadow">
            <div class="card-body">
                <h6 class="text-uppercase small">OS Finalizadas</h6>
                <h2 class="mb-0">
                    {% for item in resumo %}
                    {% if item.status == 'F' %}{{ item.total }}{% endif %}
                    {% endfor %}
                </h2>
                <i class="bi bi-check2-circle position-absolute top-50 end-0 translate-middle-y me-3 opacity-50"
                    style="font-size: 2rem;"></i>
            </div>
        </div>
    </div>
</div>

<div class="card shadow">
    <div class="card-header bg-dark text-white">Últimas Atividades</div>
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Status</th>
                    <th>Data</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for os in ultimas_os %}
                <tr>
                    <td><strong>{{ os.veiculo.placa|upper }}</strong></td>
                    <td>
                        <span class="badge {% if os.status == 'P' %}bg-warning text-dark{% else %}bg-success{% endif %}">
                            {{ os.get_status_display }}
                        </span>
                    </td>
                    <td>{{ os.data_criacao|date:"d/m/Y" }}</td>
                    <td>
                        R$ {{ os.total_geral|floatformat:"2g" }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}