{% extends 'gestao/base.html' %}
{% load static %}

{% block content %}
<h1>Histórico do Veículo: {{ placa }}</h1>

<form method="GET">
    <input type="text" name="placa" placeholder="Digite a placa (ex: ABC1234)">
    <button type="submit">Buscar</button>
</form>

<hr>

<table class="table table-striped table-hover mt-4">
    <thead class="table-dark">
        <tr>
            <th>Data</th>
            <th>Status</th>
            <th>Total (R$)</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for os in ordens %}
        <tr>
            <td>{{ os.data_criacao|date:"d/m/Y" }}</td>
            <td>
                <span class="badge {% if os.status == 'P' %}bg-warning{% elif os.status == 'A' %}bg-primary{% else %}bg-success{% endif %}">
                    {{ os.get_status_display }}
                </span>
            </td>
            <td>R$ {{ os.total_geral }}</td>
            <td class="text-center">
                <a href="{% url 'editar_os' os.id %}" class="btn btn-sm btn-outline-secondary">Editar</a>

                <a href="{% url 'gerar_pdf_os' os.id %}" target="_blank" class="btn btn-sm btn-danger">
                    PDF 📄
                </a>
            </td>
        </tr>
        {% empty %}
        <tr><td colspan="4" class="text-center">Nenhuma manutenção encontrada.</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}